<!DOCTYPE html>
<html lang="en">

<head>
  <title>Flask Chat</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="static/style.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="chatwindow">
    <h2>Room : {{session['room']}}</h2><br>
    <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />

    <form id="chat-form">
      <input type="text" id="text" size="60" placeholder="Enter your message here" />
      <button type="submit" id="send" class="btn btn-success">SEND</button><br /><br />
    </form>

    <center><button type="button" class="btn btn-danger" onclick=leave_room()>Leave this Chat</button></center>
  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script type="text/javascript" src="static/script.js" charset="utf-8"></script>
</body>

</html>